{% extends 'layout.html' %}
{% block seo %}
    <meta name="title" content="TikTokGrabber - Privacy Policy" />
    <meta name="keywords" content="TikTokGrabber, privacy, policy, tiktok, download, video, story" />
    <meta name="description" content="Please take some time to learn about our privacy procedures, and if you have any questions, get in touch with us." />
    <meta property="og:title" content="TikTokGrabber - Privacy Policy" />
    <meta property="og:description" content="Please take some time to learn about our privacy procedures, and if you have any questions, get in touch with us." />
    <meta property="og:url" content="" />
    <meta property="og:image" content="../media/photos/logo.png" />
{% endblock %}
{% block content %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <h3>Privacy Policy</h3>
                <p>Please take some time to learn about our privacy procedures, and if you have any questions, <a
                        href="../contact">get in touch</a> with us.</p>
                <h5 class="mt-4">How we use collected information</h5>
                <p>TikTokGrabber tool do not collect or preserve any information of user. All the downloaded contents are deleted after 24 hours.</p>
                <h5 class="mt-4">Advertising</h5>
                <p>Advertising partners who work with us to deliver ads to users may also use cookies to do so. Each time an online advertising is sent to you, these cookies enable the ad server to identify your computer and gather anonymous usage data about you and other users of your computer. Ad networks can use this information, among other things, to offer tailored adverts that they think you'll find most interesting. The use of cookies by any advertising is not covered by this privacy statement.</p>
                <h5 class="mt-5">Google Adsense</h5>
                <p>Google might be the one serving some of the adverts. Due to the DART cookie's use by Google, it is possible for Google to show users ads based on their visits to our site and other websites on the Internet. DART tracks "non personally identifiable information" and does NOT collect any personally identifiable information about you, such as your name, email address, home address, etc. By viewing the Google ad and content network privacy policy at https://policies.google.com/technologies/ads, you can choose not to have the DART cookie used on your computer.</p>
                <h5 class="mt-5">Your acceptance of these terms</h5>
                <p>You agree to this policy by making use of this website. Please don't use our Site if you disagree with this policy. If modifications to this policy are posted and you continue to use the site, it will be assumed that you agree to the changes.</p>
            </div>
        </div>
    </div>

{% endblock %}