{% extends 'layout.html' %}
{% block seo %}
    <meta name="title" content="TikTokGrabber - Terms of service" />
    <meta name="keywords" content="TikTokGrabber, Terms, TikTok, download, video, story" />
    <meta name="description" content="Before using our website and services, please carefully read these terms and conditions of use, paying particular attention to the following, without limitation" />
    <meta property="og:title" content="TikTokGrabber - Terms of service" />
    <meta property="og:description" content="Before using our website and services, please carefully read these terms and conditions of use, paying particular attention to the following, without limitation" />
    <meta property="og:url" content="../terms" />
    <meta property="og:image" content="../media/photos/logo.png" />
{% endblock %}
{% block content %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <h3>Terms of service</h3>
                <p>Before using our website and services, please carefully read these terms and conditions of use, paying particular attention to the following, without limitation:</p>
                <p>The terms and conditions ("Terms") under which TikTokGrabber tool ("we" or "us") shall offer you with services through its website and connected services (collectively, the "Service") are set forth in this document. The words "you" or "your" as they are used in this document refer to you, any entity you represent, your or their representatives, successors, assignee, and affiliates, as well as any devices you or they may own.</p>
                <p><strong>You indicate your understanding and acceptance of these Terms by viewing, accessing, using, downloading, copying, installing, and/or joining (collectively "using" the Service). Stop using the Service and delete any copies you may have of it if you do not agree to be governed by these Terms.</strong></p>
                <p><strong>These terms also contain legal disclaimers and liability restrictions that restrict our liability. In other words, you use the service at your own risk and we disclaim all responsibility and implicit and express guarantees with regard to the service</strong>.</p>
                <ol>
                    <li>The Service may not be used in jurisdictions where doing so is unlawful. Without limiting the aforementioned, you represent and warrant that your location is not under an international or applicable embargo, that your country has not been designated as "terrorist supporting" by international or applicable law, and that your name is not on any list of prohibited or restricted parties.</li>
                    <li>To use the Service, you must be at least eighteen (18) years old. Regardless of parental consent, if you are under the age of eighteen (18), you are not allowed to use the Service and you must stop doing so right away.</li>
                    <li>All content you upload, submit, transmit, create, modify, or otherwise make available in or through the Service (collectively, "User Submissions") is solely your responsibility. This includes any audio, video, or photo files you produce, alter, transmit, or download through the Service. User contributions can't always be taken back. You understand that we cannot guarantee the confidentiality of User Submissions and that any revelation of personal information in User Submissions may allow others to identify you personally.</li>
                    <li>We respect other people's rights to their intellectual property. You are not permitted to violate anybody else's copyright, trademark, or other proprietary informational rights. If we have reason to suspect that any Content you provide violates the intellectual property rights of others, we may, at our sole discretion, remove that Content (or restrict its use with the Service), and we may also terminate your use of the Service.</li>
                </ol>
            </div>
        </div>
    </div>

{% endblock %}